.column1, .column2, .column3 {
    float: left;
    width: 33.33%;
    padding: 0 30px;
}

.column1{
    animation-name: balroljobbra;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.column2{
    animation-name: lentrolfel;
    animation-duration: 1.6s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.column3{
    animation-name: jobbrolbalra;
    animation-duration: 1.85s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes balroljobbra {
    from{
        transform: translateX(-650px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes lentrolfel {
    from{
        transform: translateY(800px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes jobbrolbalra {
    from{
        transform: translateX(650px);
    }
    to{
        transform: translateX(0);
    }
}

















* {
    box-sizing: border-box;
}
.row {
    margin-top: 80px;
    margin-bottom: 250px;
}

.udvozlunk{
    font-family: Montserrat;
    font-size: 30px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.kep{
    border-radius: 10px;
}
.row {
    margin-top: 80px;
    margin-bottom: 70px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.card{
    border-radius: 10px;
    bottom: 150px;
    cursor: pointer;
    color:whitesmoke;
    transition: all .2s ease-in-out;
    padding: 16px;
    text-align: center;
    background-color: #3D3522;
}


.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:  10px 10px 0 0 rgba(44, 38, 38, 0.2);
}

